* {
	padding: 0;
	margin: 0;
}

body {
	font-family: sans-serif;
	padding-top: 50px;
}

.puzzle {
	width: 456px;
	height: 456px;
	margin: 0 auto;
	border: solid 2px #333;
}

.puzzle-square {
	float: left;
	width: 150px;
	height: 150px;
	border: solid 1px #333;
}

.puzzle-square-square {
	width: 50px;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 48px;
	border: solid 1px #333;
	box-sizing: border-box;
	font-size: 50px;
	cursor: pointer;
}

.puzzle-square-square[data-clue="true"] {
	color: red;
}

@media (max-width: 319px) {

	.puzzle {
		width: 294px;
		height: 294px;
	}

	.puzzle-square {
		width: 96px;
		height: 96px;
	}

	.puzzle-square-square {
		width: 32px;
		height: 32px;
		font-size: 32px;
		line-height: 30px;
	}

}
